<html>
    <title>{%- block title -%}Ololog{% endblock -%}</title>
    <body>

        {% if current_user -%}
        {{_('Hello')}}, {{ current_user.username|e }}!
        |
        <a href="/auth/logout">Logout</a>

        {% else %}
            {% if debug -%}
                <a href='/auth' title='login'>{{_('Login')}}</a>
            {% else %}
                <a href='/auth/twitter/?redirect=%2F' title='login'>{{_('Login with Twitter')}}</a>
            {% endif %}
        {% endif %}

        <h1>{%- block header -%}Ololog{% endblock -%}</h1>

        {%- block content -%}
        {%- endblock -%}

    </body>
</html>
